# Traitement du dataset

In [1]:
import numpy as np
import pandas as pd
import datetime

In [14]:
data= pd.read_csv("/Users/mac/Documents/OPENOPSE/data/seydina Ba/data/OutdataFFlux_OpenOPSE_SoilGHGFluxes.csv")
data.head()

,DateSemih,CO2Flux_CH1_FS_micmolm2s1,CO2Flux_CH3_FS_micmolm2s1,CO2Flux_CH5_FS_micmolm2s1,CO2Flux_CH7_FS_micmolm2s1,CO2Flux_CH2_Sh_micmolm2s1,CO2Flux_CH4_Sh_micmolm2s1,CO2Flux_CH6_Sh_micmolm2s1,CO2Flux_CH8_Sh_micmolm2s1,CO2Flux_AvFS_micmolm2s1,...,NH3Flux_CH5_FS_nanomolm2s1,NH3Flux_CH7_FS_nanomolm2s1,NH3Flux_CH2_Sh_nanomolm2s1,NH3Flux_CH4_Sh_nanomolm2s1,NH3Flux_CH6_Sh_nanomolm2s1,NH3Flux_CH8_Sh_nanomolm2s1,NH3Flux_AvFS_nanomolm2s1,NH3Flux_AvSh_nanomolm2s1,Rsoil_FS_24h,Rsoil_Sh_24h
0,2018-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01 01:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01 01:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01 02:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data.dtypes

DateSemih                      object
CO2Flux_CH1_FS_micmolm2s1     float64
CO2Flux_CH3_FS_micmolm2s1     float64
CO2Flux_CH5_FS_micmolm2s1     float64
CO2Flux_CH7_FS_micmolm2s1     float64
CO2Flux_CH2_Sh_micmolm2s1     float64
CO2Flux_CH4_Sh_micmolm2s1     float64
CO2Flux_CH6_Sh_micmolm2s1     float64
CO2Flux_CH8_Sh_micmolm2s1     float64
CO2Flux_AvFS_micmolm2s1       float64
CO2Flux_AvSh_micmolm2s1       float64
H2OFlux_CH1_FS_mmolm2s1       float64
H2OFlux_CH3_FS_mmolm2s1       float64
H2OFlux_CH5_FS_mmolm2s1       float64
H2OFlux_CH7_FS_mmolm2s1       float64
H2OFlux_CH2_Sh_mmolm2s1       float64
H2OFlux_CH4_Sh_mmolm2s1       float64
H2OFlux_CH6_Sh_mmolm2s1       float64
H2OFlux_CH8_Sh_mmolm2s1       float64
H2OFlux_AvFS_mmolm2s1         float64
H2OFlux_AvSh_mmolm2s1         float64
CH4Flux_CH1_FS_micmolm2s1     float64
CH4Flux_CH3_FS_micmolm2s1     float64
CH4Flux_CH5_FS_micmolm2s1     float64
CH4Flux_CH7_FS_micmolm2s1     float64
CH4Flux_CH2_Sh_micmolm2s1     float64
CH4Flux_CH4_Sh_micmolm2s1     float64
CH4Flux_CH6_Sh_micmolm2s1     float64
CH4Flux_CH8_Sh_micmolm2s1     float64
CH4Flux_AvFS_micmolm2s1       float64
CH4Flux_AvSh_micmolm2s1       float64
N2OFlux_CH1_FS_micmolm2s1     float64
N2OFlux_CH3_FS_micmolm2s1     float64
N2OFlux_CH5_FS_micmolm2s1     float64
N2OFlux_CH7_FS_micmolm2s1     float64
N2OFlux_CH2_Sh_micmolm2s1     float64
N2OFlux_CH4_Sh_micmolm2s1     float64
N2OFlux_CH6_Sh_micmolm2s1     float64
N2OFlux_CH8_Sh_micmolm2s1     float64
N2OFlux_AvFS_micmolm2s1       float64
N2OFlux_AvSh_micmolm2s1       float64
NH3Flux_CH1_FS_nanomolm2s1    float64
NH3Flux_CH3_FS_nanomolm2s1    float64
NH3Flux_CH5_FS_nanomolm2s1    float64
NH3Flux_CH7_FS_nanomolm2s1    float64
NH3Flux_CH2_Sh_nanomolm2s1    float64
NH3Flux_CH4_Sh_nanomolm2s1    float64
NH3Flux_CH6_Sh_nanomolm2s1    float64
NH3Flux_CH8_Sh_nanomolm2s1    float64
NH3Flux_AvFS_nanomolm2s1      float64
NH3Flux_AvSh_nanomolm2s1      float64
Rsoil_FS_24h                  float64
Rsoil_Sh_24h                  float64
dtype: object

In [16]:
datetime.datetime.fromisoformat('2018-01-01 00:15:00')

datetime.datetime(2018, 1, 1, 0, 15)

In [17]:
dates = [str(datetime.datetime.fromisoformat(x)) for x in data.DateSemih]
data['DateSemih']= dates

In [18]:
annees = [x.split('-',1)[0] for x in data.DateSemih]
data['Year']= annees
data=data.astype({'Year': 'int64'})

In [19]:
Date_fac = [x.split(' ',1)[0] for x in data.DateSemih]
data['Date_fac']= Date_fac

In [20]:
Hour_fac = [x.split(' ',1)[1] for x in data.DateSemih]
data['Hour_fac']= Hour_fac

In [21]:
data.columns

Index(['DateSemih', 'CO2Flux_CH1_FS_micmolm2s1', 'CO2Flux_CH3_FS_micmolm2s1',
       'CO2Flux_CH5_FS_micmolm2s1', 'CO2Flux_CH7_FS_micmolm2s1',
       'CO2Flux_CH2_Sh_micmolm2s1', 'CO2Flux_CH4_Sh_micmolm2s1',
       'CO2Flux_CH6_Sh_micmolm2s1', 'CO2Flux_CH8_Sh_micmolm2s1',
       'CO2Flux_AvFS_micmolm2s1', 'CO2Flux_AvSh_micmolm2s1',
       'H2OFlux_CH1_FS_mmolm2s1', 'H2OFlux_CH3_FS_mmolm2s1',
       'H2OFlux_CH5_FS_mmolm2s1', 'H2OFlux_CH7_FS_mmolm2s1',
       'H2OFlux_CH2_Sh_mmolm2s1', 'H2OFlux_CH4_Sh_mmolm2s1',
       'H2OFlux_CH6_Sh_mmolm2s1', 'H2OFlux_CH8_Sh_mmolm2s1',
       'H2OFlux_AvFS_mmolm2s1', 'H2OFlux_AvSh_mmolm2s1',
       'CH4Flux_CH1_FS_micmolm2s1', 'CH4Flux_CH3_FS_micmolm2s1',
       'CH4Flux_CH5_FS_micmolm2s1', 'CH4Flux_CH7_FS_micmolm2s1',
       'CH4Flux_CH2_Sh_micmolm2s1', 'CH4Flux_CH4_Sh_micmolm2s1',
       'CH4Flux_CH6_Sh_micmolm2s1', 'CH4Flux_CH8_Sh_micmolm2s1',
       'CH4Flux_AvFS_micmolm2s1', 'CH4Flux_AvSh_micmolm2s1',
       'N2OFlux_CH1_FS_micmolm2s1', 'N2OFlux_CH3_FS_micmolm2s1',
       'N2OFlux_CH5_FS_micmolm2s1', 'N2OFlux_CH7_FS_micmolm2s1',
       'N2OFlux_CH2_Sh_micmolm2s1', 'N2OFlux_CH4_Sh_micmolm2s1',
       'N2OFlux_CH6_Sh_micmolm2s1', 'N2OFlux_CH8_Sh_micmolm2s1',
       'N2OFlux_AvFS_micmolm2s1', 'N2OFlux_AvSh_micmolm2s1',
       'NH3Flux_CH1_FS_nanomolm2s1', 'NH3Flux_CH3_FS_nanomolm2s1',
       'NH3Flux_CH5_FS_nanomolm2s1', 'NH3Flux_CH7_FS_nanomolm2s1',
       'NH3Flux_CH2_Sh_nanomolm2s1', 'NH3Flux_CH4_Sh_nanomolm2s1',
       'NH3Flux_CH6_Sh_nanomolm2s1', 'NH3Flux_CH8_Sh_nanomolm2s1',
       'NH3Flux_AvFS_nanomolm2s1', 'NH3Flux_AvSh_nanomolm2s1', 'Rsoil_FS_24h',
       'Rsoil_Sh_24h', 'Year', 'Date_fac', 'Hour_fac'],
      dtype='object')

In [10]:

data=data[['Year','Date_fac','Hour_fac','DateSemih', 'WoodVWC_1_tree5_pc', 'WoodVWC_2_tree5_pc',
       'WoodT_1_tree5_degC', 'WoodT_2_tree5_degC', 'WoodEC_1_tree5_dSm1',
       'WoodEC_2_tree5_dSm1', 'WoodVWC_tree27_pc', 'WoodT_tree27_degC',
       'WoodEC_tree27_dSm1']]

data.head()

,Year,Date_fac,Hour_fac,DateSemih,WoodVWC_1_tree5_pc,WoodVWC_2_tree5_pc,WoodT_1_tree5_degC,WoodT_2_tree5_degC,WoodEC_1_tree5_dSm1,WoodEC_2_tree5_dSm1,WoodVWC_tree27_pc,WoodT_tree27_degC,WoodEC_tree27_dSm1
0,2018,2018-01-01,00:15:00,2018-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,2018-01-01,00:45:00,2018-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,2018-01-01,01:15:00,2018-01-01 01:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,2018-01-01,01:45:00,2018-01-01 01:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,2018-01-01,02:15:00,2018-01-01 02:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
data=data.fillna(0)

# creation des dataframe

## segmentation du jeu de données

In [26]:
annee = data['Year'].unique()
annee

array([2018, 2019, 2020, 2021, 2022])

## sauvegarder les jeux de données segmentés

In [27]:
for y in annee:
    save = data[data['Year'] == y]
    name = '/Users/mac/Documents/OPENOPSE/data/seydina Ba/data/'+str(y)+'/OutdataFFlux_OpenOPSE_SoilGHGFluxes_'+str(y)+'.csv'
    save.to_csv(name, index=False)