# Traitement du dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
file_year='2020'
path = '/home/openopse/Documents/OPENOPSE/data/Olivier Roupsard/updated_new/netcdf/'

In [3]:
data= pd.read_csv("/home/openopse/Documents/OPENOPSE/data/Olivier Roupsard/updated_new/OpenOPSE_Roupsard/per Year/2020/OutdataFFlux_OpenOPSE_Flux_2020.csv")
data.head()

,Year,Date_fac,Hour_fac,DateSemih,NEE_micmolm2s_20m,LE_Wm2_20m,H_Wm2_20m,Ustar_20m,NEE_micmolm2s_4.5m,LE_Wm2_4.5m,H_Wm2_4.5m,Ustar_ms_4.5m
0,2020,2020-01-01,00:15:00,2020-01-01 00:15:00,1.5847,9.3274,-43.626,0.39600,NaN,NaN,NaN,NaN
1,2020,2020-01-01,00:45:00,2020-01-01 00:45:00,1.8129,10.2850,-48.706,0.41273,NaN,NaN,NaN,0.11410
2,2020,2020-01-01,01:15:00,2020-01-01 01:15:00,1.3985,8.2217,-33.901,0.41993,NaN,NaN,NaN,0.11995
3,2020,2020-01-01,01:45:00,2020-01-01 01:45:00,1.5176,7.2549,-38.021,0.42954,NaN,NaN,NaN,0.13489
4,2020,2020-01-01,02:15:00,2020-01-01 02:15:00,NaN,10.4210,-51.276,0.49697,NaN,NaN,NaN,0.12403

In [4]:
data = data.fillna(float('nan'))

In [5]:
data.head()

,Year,Date_fac,Hour_fac,DateSemih,NEE_micmolm2s_20m,LE_Wm2_20m,H_Wm2_20m,Ustar_20m,NEE_micmolm2s_4.5m,LE_Wm2_4.5m,H_Wm2_4.5m,Ustar_ms_4.5m
0,2020,2020-01-01,00:15:00,2020-01-01 00:15:00,1.5847,9.3274,-43.626,0.39600,NaN,NaN,NaN,NaN
1,2020,2020-01-01,00:45:00,2020-01-01 00:45:00,1.8129,10.2850,-48.706,0.41273,NaN,NaN,NaN,0.11410
2,2020,2020-01-01,01:15:00,2020-01-01 01:15:00,1.3985,8.2217,-33.901,0.41993,NaN,NaN,NaN,0.11995
3,2020,2020-01-01,01:45:00,2020-01-01 01:45:00,1.5176,7.2549,-38.021,0.42954,NaN,NaN,NaN,0.13489
4,2020,2020-01-01,02:15:00,2020-01-01 02:15:00,NaN,10.4210,-51.276,0.49697,NaN,NaN,NaN,0.12403

# creation NETCDF

## Ouverture des fichiers, création de nouveaux jeux de données

Créons un nouveau fichier netCDF vide nommé 'new.nc' dans le répertoire racine de notre projet 'data', ouvert pour l'écriture.

Attention, ouvrir un fichier avec 'w' écrasera toutes les données existantes (à moins que `clobber=False` soit utilisé, auquel cas une exception est levée si le fichier existe déjà).

- `mode='r'` est la valeur par défaut.
- `mode='a'` ouvre un fichier existant et permet l'ajout (n'écrase pas les données existantes)
- `format` peut être l'un des `NETCDF3_CLASSIC`, `NETCDF3_64BIT`, `NETCDF4_CLASSIC` ou `NETCDF4` (par défaut). `NETCDF4_CLASSIC` utilise HDF5 pour la couche de stockage sous-jacente (comme le fait `NETCDF4`) mais applique le modèle de données classique netCDF 3 afin que les données puissent être lues avec des clients plus anciens.

In [6]:
from netCDF4 import Dataset

In [7]:
# just to be safe, make sure dataset is not already open.
try: 

    #meteo soil
    nc_tsoilfs.close()
except: pass
#meteo soil
nc_tsoilfs = Dataset(path+file_year+'/OutdataFFlux_OpenOPSE_Flux_2020.nc',mode='w',format='NETCDF4')

## creation des dimensions de chaque fichier netCDF

In [8]:
#meteo soil

## nc_tsoilfs = Dataset('/gdrive/MyDrive/NETCDF/soil_temp_profile_under_full_sun.nc',mode='w',format='NETCDF4') 
year_tsoilfs_dim = nc_tsoilfs.createDimension('year', None)
date_tsoilfs_dim = nc_tsoilfs.createDimension('Date', 366) 
hour_tsoilfs_dim = nc_tsoilfs.createDimension('Hour', 48)

## creation des differentes variables

### pivot

### soil moist

In [9]:
# soil moist
## nc_tsoilfs

annee_tsoilfs = nc_tsoilfs.createVariable('year', np.float64, ('year',))
annee_tsoilfs.long_name = 'annee'

date_tsoilfs = nc_tsoilfs.createVariable('Date', str, ('Date',))
date_tsoilfs.long_name = 'Date'

hnum_tsoilfs = nc_tsoilfs.createVariable('Hour', str, ('Hour',))
hnum_tsoilfs.long_name = 'Heure dans la journée'
hnum_tsoilfs.units = 'heures dans la journée'


NEE_micmolm2s_20m = nc_tsoilfs.createVariable('NEE_micmolm2s_20m', np.float64, ('year','Date','Hour',))
NEE_micmolm2s_20m.long_name = 'Net CO2 Ecosystem Exchange_measured_with gaps_20m'
NEE_micmolm2s_20m.units = 'umolm-2s-1'

LE_Wm2_20m = nc_tsoilfs.createVariable('LE_Wm2_20m', np.float64, ('year','Date','Hour',))
LE_Wm2_20m.long_name = 'Latent heat flux_measured_with gaps_20m'
LE_Wm2_20m.units = 'W m-2'

H_Wm2_20m = nc_tsoilfs.createVariable('H_Wm2_20m', np.float64, ('year','Date','Hour',))
H_Wm2_20m.long_name = 'Sensible heat flux_measured_with gaps_20m'
H_Wm2_20m.units = 'W m-2'

Ustar_20m = nc_tsoilfs.createVariable('Ustar_20m', np.float64, ('year','Date','Hour',))
Ustar_20m.long_name = 'Friction velocity_20m'
Ustar_20m.units = 'ms-1'

NEE_micmolm2s_450cm = nc_tsoilfs.createVariable('NEE_micmolm2s_4.5m', np.float64, ('year','Date','Hour',))
NEE_micmolm2s_450cm.long_name = 'Net CO2 Ecosystem Exchange_measured_with gaps_4.5m'
NEE_micmolm2s_450cm.units = 'umolm-2s-1'

LE_Wm2_450cm = nc_tsoilfs.createVariable('LE_Wm2_4.5m', np.float64, ('year','Date','Hour',))
LE_Wm2_450cm.long_name = 'Latent heat flux_measured_with gaps_4.5m'
LE_Wm2_450cm.units = 'W m-2'

H_Wm2_450cm = nc_tsoilfs.createVariable('H_Wm2_4.5m', np.float64, ('year','Date','Hour',))
H_Wm2_450cm.long_name = 'Sensible heat flux_measured_with gaps_4.5m'
H_Wm2_450cm.units = 'W m-2'

Ustar_ms_450m = nc_tsoilfs.createVariable('Ustar_ms_4.5m', np.float64, ('year','Date','Hour',))
Ustar_ms_450m.long_name = 'Friction velocity_4.5m'
Ustar_ms_450m.units = 'ms-1'

## ecriture des données

In [10]:
def getData365(data, colonne, jdan=365):
    val = data[colonne]
    return np.array(val).reshape(1,jdan,48)

In [11]:
## nc_msSmallAnt 
annee = data['Year'].unique()
date = data['Date_fac'].unique()
hnum = data['Hour_fac'].unique()

## soil moist

In [12]:
# soil moist
## nc_tsoilfs

#annee_tsoilfs = nc_tsoilfs.createVariable('year', np.float64, ('year',))
annee_tsoilfs[:] = annee

#doy_tsoilfs = nc_tsoilfs.createVariable('doy', np.float64, ('DOY',))
date_tsoilfs[:] = date

#hnum_tsoilfs = nc_tsoilfs.createVariable('Hournumeric', np.float64, ('Hournumeric',))
hnum_tsoilfs[:] = hnum


#NEE_micmolm2s_20m = nc_tsoilfs.createVariable('NEE_micmolm2s_20m', np.float64, ('year','Date','Hour',))
NEE_micmolm2s_20m[:,:,:] = getData365(data, 'NEE_micmolm2s_20m', jdan=366)

#LE_Wm2_20m = nc_tsoilfs.createVariable('LE_Wm2_20m', np.float64, ('year','Date','Hour',))
LE_Wm2_20m[:,:,:] = getData365(data, 'LE_Wm2_20m', jdan=366)

#H_Wm2_20m = nc_tsoilfs.createVariable('H_Wm2_20m', np.float64, ('year','Date','Hour',))
H_Wm2_20m[:,:,:] = getData365(data, 'H_Wm2_20m', jdan=366)

#Ustar_20m = nc_tsoilfs.createVariable('Ustar_20m', np.float64, ('year','Date','Hour',))
Ustar_20m[:,:,:] = getData365(data, 'Ustar_20m', jdan=366)

#NEE_micmolm2s_450cm = nc_tsoilfs.createVariable('NEE_micmolm2s_4.5m', np.float64, ('year','Date','Hour',))
NEE_micmolm2s_450cm[:,:,:] = getData365(data, 'NEE_micmolm2s_4.5m', jdan=366)

#LE_Wm2_450cm = nc_tsoilfs.createVariable('LE_Wm2_4.5m', np.float64, ('year','Date','Hour',))
LE_Wm2_450cm[:,:,:] = getData365(data, 'LE_Wm2_4.5m', jdan=366)

#H_Wm2_450cm = nc_tsoilfs.createVariable('H_Wm2_4.5m', np.float64, ('year','Date','Hour',))
H_Wm2_450cm[:,:,:] = getData365(data, 'H_Wm2_4.5m', jdan=366)

#Ustar_ms_450m = nc_tsoilfs.createVariable('Ustar_ms_4.5m', np.float64, ('year','Date','Hour',))
Ustar_ms_450m[:,:,:] = getData365(data, 'Ustar_ms_4.5m', jdan=366)

### fermeture des fichiers netcdf

In [13]:
#meteo soil
nc_tsoilfs.close()
print('Dataset is closed!')

Dataset is closed!