# Traitement du dataset

In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
data= pd.read_csv("/home/openopse/Documents/OPENOPSE/data/Olivier Roupsard/updated_new/OpenOPSE_Roupsard/OutdataFFlux_OpenOPSE_TimeMeteo.csv")
data.head()

,DateSemih,Rn_20m_Wm2,PARtot_20m_mE,Tair_20m_degC,Rh_20m_pc,WindSpeed_20m_ms1,WindDir_20m_deg,Rain_mmsemih,P_20m_hPa,Tair_2m_SmallAnt_degC,Rh_2m_SmallAnt_pc,WS_4.5m_SmallAntSonic_ms_filt
0,1514765700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1514767500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1514769300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1514771100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1514772900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dates = [str(datetime.datetime.fromtimestamp(x)) for x in data.DateSemih]
data['DateSemih']= dates

In [4]:
annees = [x.split('-',1)[0] for x in data.DateSemih]
data['Year']= annees
data=data.astype({'Year': 'int64'})

In [5]:
Date_fac = [x.split(' ',1)[0] for x in data.DateSemih]
data['Date_fac']= Date_fac

In [6]:
Hour_fac = [x.split(' ',1)[1] for x in data.DateSemih]
data['Hour_fac']= Hour_fac

In [7]:
data.columns

Index(['DateSemih', 'Rn_20m_Wm2', 'PARtot_20m_mE', 'Tair_20m_degC',
       'Rh_20m_pc', 'WindSpeed_20m_ms1', 'WindDir_20m_deg', 'Rain_mmsemih',
       'P_20m_hPa', 'Tair_2m_SmallAnt_degC', 'Rh_2m_SmallAnt_pc',
       'WS_4.5m_SmallAntSonic_ms_filt', 'Year', 'Date_fac', 'Hour_fac'],
      dtype='object')

In [8]:

data=data[['Year','Date_fac','Hour_fac','DateSemih', 'Rn_20m_Wm2', 'PARtot_20m_mE', 'Tair_20m_degC',
       'Rh_20m_pc', 'WindSpeed_20m_ms1', 'WindDir_20m_deg', 'Rain_mmsemih',
       'P_20m_hPa', 'Tair_2m_SmallAnt_degC', 'Rh_2m_SmallAnt_pc',
       'WS_4.5m_SmallAntSonic_ms_filt']]

data.head()

,Year,Date_fac,Hour_fac,DateSemih,Rn_20m_Wm2,PARtot_20m_mE,Tair_20m_degC,Rh_20m_pc,WindSpeed_20m_ms1,WindDir_20m_deg,Rain_mmsemih,P_20m_hPa,Tair_2m_SmallAnt_degC,Rh_2m_SmallAnt_pc,WS_4.5m_SmallAntSonic_ms_filt
0,2018,2018-01-01,00:15:00,2018-01-01 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,2018-01-01,00:45:00,2018-01-01 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,2018-01-01,01:15:00,2018-01-01 01:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,2018-01-01,01:45:00,2018-01-01 01:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,2018-01-01,02:15:00,2018-01-01 02:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# creation des dataframe

## segmentation du jeu de données

In [9]:
annee = data['Year'].unique()
annee

array([2018, 2019, 2020, 2021, 2022])

## sauvegarder les jeux de données segmentés

In [10]:
for y in annee:
    save = data[data['Year'] == y]
    name = '/home/openopse/Documents/OPENOPSE/data/Olivier Roupsard/updated_new/OpenOPSE_Roupsard/per Year/'+str(y)+'/OutdataFFlux_OpenOPSE_TimeMeteo_'+str(y)+'.csv'
    save.to_csv(name, index=False)